@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rubik:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
 }

header {
    height: 54px;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
 }

.logo {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo i {
    font-size: 34px;
}

.nome1 {
    color: green;
    font-weight: 400;
    margin-right: -6px;
}

.nome2 {
    font-weight: 400;
}

nav {
    font-size: 24px;
    gap: 35px;
    display: flex;
    align-items: center;
}

nav a i {
    color: green;
}

section img {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
    height: 100%;
}

.promotion-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
}

.promotion-header span {
    font-weight: 700;
    color: #161616;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 50px

}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    color: #008000;
}

.product span {
    font-weight: 700;
}

.product img {
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

footer {
    background-color: #eee;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ddd;
    padding: 20px 5%;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-top-left a {
    font-weight: 700;
    color: #161616;
    text-decoration: none;
}

.footer-top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer-top-right span {
    font-weight: 700;
    color: #161616;
}

.footer-newsletter {
    display: flex;
    align-items: center;
}

.footer-newsletter-input {
    width: 200px;
    height: 40px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.footer-button {
    height: 40px;
    width: 90px;
    border: 1px solid #eee;
    background-color: #5ca720;
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-top: 2px solid #ddd;
}

.footer-bottom-left a {
    text-decoration: none;
}
.footer-bottom-left a i {
    font-size: 60px;
    color: green;
}
.footer-bottom-right i {
    font-size: 60px;
    color: green;
}